.card {
  box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.2);
  /*
        Remove this later
        for improvement change to wrapper
        with background image linear gradient
    */
  border-right: 1px solid hsla(0, 0%, 73%, 0.04);
  border-bottom: 1px solid hsla(0, 0%, 37%, 0.1);
  border-top: 1px solid hsla(0, 0%, 37%, 0.04);
}
